* {
  color: #505859;
  font-family: "Quicksand", sans-serif;
}
* h1, * .sudoh1 {
  font-size: clamp(3.2rem, 10vw, 2.3rem);
  color: #505859;
  font-weight: 700;
}
* .sudoh1thin {
  font-size: clamp(3.2rem, 10vw, 2.3rem);
  color: #505859;
  font-weight: 400;
}
* h2, * .sudoh2 {
  font-size: clamp(2rem, 7vw, 1.9rem);
  color: #505859;
  font-weight: 700;
}
* h3, * .sudoh3 {
  font-size: clamp(1.7rem, 5vw, 1.8rem);
}
* h4, * .sudoh4 {
  font-size: clamp(1.4rem, 2.7vw, 1.7rem);
}
* h5, * .sudoh5 {
  font-size: clamp(1.2rem, 2.2vw, 1.5rem);
}
* h6, * .sudoh6 {
  font-size: clamp(1.1rem, 1.8vw, 1.2rem);
}
* .smalltext {
  font-size: 10px;
}
* p, * .sudop {
  font-size: clamp(1rem, 1.5vw, 1rem);
  font-family: "Golos Text", sans-serif;
}
* body {
  background-color: #d5e8ea;
}
.row {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.fade-in-from-left {
  opacity: 0;
  transform: translateX(-90px);
  transition: opacity 1s, transform 1s;
}

/* CSS code to show the div when it's scrolled into view */
.fade-in-from-left.show {
  opacity: 1;
  transform: translateX(0);
}

.reveal {
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: 0.7s all ease;
}

.revealdelay {
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: 0.7s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.revealdelay.active {
  transform: translateY(0);
  opacity: 1;
}

a:hover {
  text-decoration: none;
}

.boxshadow {
  box-shadow: -1px -16px 35px 16px rgba(0, 0, 0, 0.75);
}

.textshadow {
  text-shadow: 2px 2px 8px #000000;
}

.btn-primary {
  padding: 5px 16px 5px 16px !important;
  border-radius: 30px;
  border: solid 1px #3499A4;
  transition: 0.4s;
  background-color: #3499A4;
  text-decoration: none;
  color: #d5e8ea;
  font-size: 20px;
  font-weight: 700;
}
.btn-primary i {
  color: #d5e8ea;
}
.btn-primary:hover {
  background-color: transparent;
  border: solid 1px #3499A4;
  color: #3499A4 !important;
  transition: 0.4s;
  text-decoration: none;
}
.btn-primary:hover i {
  color: #3499A4 !important;
  transition: 0.4s;
}

.btn-secondary {
  padding: 5px 16px 5px 16px !important;
  border-radius: 30px;
  border: solid 1px #3499A4;
  transition: 0.4s;
  background-color: transparent;
  text-decoration: none;
  color: #505859;
  font-size: 20px;
  font-weight: 700;
}
.btn-secondary:hover {
  background-color: #3499A4;
  border: #3499A4;
  color: #d5e8ea !important;
  transition: 0.4s;
  text-decoration: none;
}
.btn-secondary:hover i {
  color: #d5e8ea !important;
  transition: 0.4s;
}

.textcolor {
  color: #3499A4;
}

.navbar {
  background-color: #d5e8ea;
  box-shadow: -1px -16px 35px 16px rgba(0, 0, 0, 0.75);
}
.navbar .navlogo {
  width: 13rem;
}
.navbar .navlogosml {
  width: 3rem;
}
.navbar .contactbtn {
  padding: 5px 16px 5px 16px !important;
  border-radius: 30px;
  border: solid 1px #3499A4;
  transition: 0.4s;
}
.navbar .contactbtn:hover {
  background-color: #3499A4;
  color: #d5e8ea !important;
  transition: 0.4s;
}
.navbar a {
  transition: 0.4s;
}
.navbar a:hover {
  transition: 0.4s;
}

.navbar-light, .navbar-nav, .nav-link {
  color: #505859 !important;
}
.navbar-light:hover, .navbar-nav:hover, .nav-link:hover {
  color: #3499A4 !important;
}

.navbar-toggler {
  border: none;
}

.herodiv video {
  max-height: 600px;
  min-height: 360px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.herodiv h1, .herodiv h2, .herodiv strong {
  color: white;
}
.herodiv img {
  height: clamp(3.2rem, 10vw, 2.3rem);
  padding: 2px;
  background: white;
  border-radius: 50%;
}

.heroimg {
  opacity: 0; /* Set the initial opacity of the image to 0 */
  transition: all 1s ease; /* Set a transition for the animation */
}

.rotate {
  transform: rotate(360deg); /* Set the rotation angle for the animation */
}

.topmain {
  height: auto;
  background-color: #e8f0f1;
}
.topmain svg {
  background-color: #d5e8ea;
}
.topmain h4 {
  color: #3499A4;
}
.topmain h4 strong {
  color: #3499A4;
}
.topmain h4 i {
  color: #3499A4;
}

.smallinfodiv a {
  font-size: 20px;
  font-weight: 700;
}

.packagedivs .packdiv1 {
  background-image: url(../images/wave.png);
  background-position: left;
  background-size: cover;
  transition: 1s;
}
.packagedivs .packdiv1:hover {
  background-position: right;
  transition: 1s;
}
.packagedivs .packdiv2 {
  background-image: url(../images/wave2.png);
  background-position: left;
  background-size: cover;
  transition: 1s;
}
.packagedivs .packdiv2:hover {
  background-position: right;
  transition: 1s;
}
.packagedivs .packdiv3 {
  background-image: url(../images/wave3.png);
  background-position: left;
  background-size: cover;
  transition: 1s;
}
.packagedivs .packdiv3:hover {
  background-position: right;
  transition: 1s;
}
.packagedivs h4 strong {
  color: #3499A4;
  font-size: clamp(2rem, 7vw, 1.9rem);
}
.packagedivs h3 strong {
  color: #3499A4;
}
.packagedivs .packagediv {
  height: 390px;
  background-color: #e8f0f1;
  border-radius: 50px;
  transition: 0.7s;
  box-shadow: -1px 10px 26px -3px rgba(0, 0, 0, 0.75);
  max-width: 380px;
}
.packagedivs .packagediv:hover {
  transition: 0.7s;
  box-shadow: -1px 10px 26px -3px rgba(0, 0, 0, 0.75);
}
.packagedivs ul {
  list-style: none;
}

.aboutbody {
  background-color: #3499A4;
}

.aboutus {
  background-color: #e8f0f1;
  margin-bottom: -20px;
}

.contactbody {
  background-color: #3499A4;
}

.contactus {
  background-color: #e8f0f1;
  margin-bottom: -20px;
}
.contactus select {
  padding: 7px;
  border-radius: 4px;
  border: none;
}
.contactus .form-group {
  width: 270px;
}
.contactus a {
  color: #505859;
  font-size: clamp(1.1rem, 1.8vw, 1.2rem);
  font-weight: 700;
}
.contactus a:hover {
  text-decoration: none;
  color: #3499A4;
}
.contactus a:hover i {
  color: #3499A4;
}
.contactus a:active {
  color: #3499A4;
  text-decoration: none;
}
.contactus a:active i {
  color: #3499A4;
}

.alreadydiv {
  background-color: #e8f0f1;
  margin-bottom: -10px;
}
.alreadydiv svg {
  background-color: #d5e8ea;
}

.packagemain {
  background-color: #e8f0f1;
}
.packagemain img {
  border-radius: 50px;
}

.packagediv {
  background-image: url(../images/wavelong.png);
  background-position: left;
  transition: 1s;
  background-repeat: no-repeat;
  box-shadow: -1px 10px 26px -3px rgba(0, 0, 0, 0.75);
  border-radius: 50px;
}
.packagediv:hover {
  background-position: right;
  transition: 1s;
  box-shadow: -1px 10px 26px -3px rgba(0, 0, 0, 0.75);
}
.packagediv h2 {
  color: #3499A4;
}
.packagediv h3 {
  color: #3499A4;
}
.packagediv h3 strong {
  color: #3499A4;
}
.packagediv h4 {
  color: #3499A4;
}
.packagediv h4 strong {
  color: #3499A4;
}
.packagediv img {
  width: 23px;
}
.packagediv .packagebullets {
  background-color: rgba(232, 240, 241, 0.6784313725);
  border-radius: 30px;
}

.packagediv2 {
  background-image: url(../images/wavelong2.png);
}

.packagediv3 {
  background-image: url(../images/wavelong3.png);
}

footer {
  background-color: #3499A4;
  height: auto;
  color: white;
}
footer p {
  color: white;
}
footer i {
  color: white;
  font-size: clamp(2rem, 7vw, 1.9rem);
}
footer h6 {
  color: white;
  font-weight: 700;
}
footer a {
  transition: 0.4s;
}
footer a:hover {
  transition: 0.4s;
}
footer a:hover p {
  color: #d5e8ea;
  transition: 0.4s;
}
footer a:hover i {
  color: #d5e8ea;
  font-size: clamp(2rem, 7vw, 1.9rem);
  transition: 0.4s;
}
footer a:hover h6 {
  color: #d5e8ea;
  font-weight: 500;
  transition: 0.4s;
}

button:focus {
  outline: none !important;
}

.buttons {
  margin-top: 50px;
  text-align: center;
  border-radius: 30px;
  text-decoration: none;
}

.blob-btn {
  z-index: 1;
  position: relative;
  padding: 8px 40px;
  text-align: center;
  text-transform: uppercase;
  color: #3499A4;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  transition: color 0.5s;
  cursor: pointer;
  border-radius: 30px;
}
.blob-btn i {
  color: #3499A4;
}
.blob-btn:before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #3499A4;
  border-radius: 30px;
}
.blob-btn:after {
  content: "";
  z-index: -2;
  position: absolute;
  left: 3px;
  top: 3px;
  width: 100%;
  height: 100%;
  transition: all 0.3s 0.2s;
  border-radius: 30px;
}
.blob-btn:after i {
  color: white;
}
.blob-btn:hover {
  color: white;
  border-radius: 30px;
}
.blob-btn:hover i {
  color: white;
  transition: 0.3s;
}
.blob-btn:hover:after {
  transition: all 0.3s;
  left: 0;
  top: 0;
  border-radius: 30px;
}
.blob-btn__inner {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: transparent;
}
.blob-btn__blobs {
  position: relative;
  display: block;
  height: 100%;
  filter: url("#goo");
}
.blob-btn__blob {
  position: absolute;
  top: 2px;
  width: 25%;
  height: 100%;
  background: #3499A4;
  border-radius: 100%;
  transform: translate3d(0, 150%, 0) scale(1.7);
  transition: transform 0.45s;
}
@supports (filter: url("#goo")) {
  .blob-btn__blob {
    transform: translate3d(0, 150%, 0) scale(1.4);
  }
}
.blob-btn__blob:nth-child(1) {
  left: 0%;
  transition-delay: 0s;
}
.blob-btn__blob:nth-child(2) {
  left: 30%;
  transition-delay: 0.08s;
}
.blob-btn__blob:nth-child(3) {
  left: 60%;
  transition-delay: 0.16s;
}
.blob-btn__blob:nth-child(4) {
  left: 90%;
  transition-delay: 0.24s;
}
.blob-btn:hover .blob-btn__blob {
  transform: translateZ(0) scale(1.7);
}
@supports (filter: url("#goo")) {
  .blob-btn:hover .blob-btn__blob {
    transform: translateZ(0) scale(1.4);
  }
}

@media (min-width: 1750px) {
  .herodiv video {
    max-height: 850px;
  }
}
@media (min-width: 992px) {
  .packagedivs .packagediv {
    height: 500px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
  }
  .packagediv {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
  }
}
@media (min-width: 768px) {
  .herodiv img {
    height: clamp(3.2rem, 10vw, 2.3rem);
    padding: 0px;
    background-color: transparent;
  }
}
@media (min-width: 576px) {
  .packagedivs .packagediv {
    height: 450px;
  }
  .form-group {
    width: 400px !important;
  }
}/*# sourceMappingURL=index.css.map */