
// Variables

// Colours

$primary-color: #B1E9F0;
$secondary-color: #505859;
$third-color: #45C8D6;
$fourth-color: #3499A4;
$fifth-color: #d5e8ea;
$sixth-color: #e8f0f1;

// Font Sizes
$h1: clamp(3.2rem, 10vw, 2.3rem);
$h2: clamp(2rem, 7vw, 1.9rem);
$h3: clamp(1.7rem, 5vw, 1.8rem);
$h4: clamp(1.4rem, 2.7vw, 1.7rem); 
$h5: clamp(1.2rem, 2.2vw, 1.5rem); 
$h6: clamp(1.1rem, 1.8vw, 1.2rem); 
$p: clamp(1rem, 1.5vw, 1rem); 
$i: 25px;


// All

* {
    color: $secondary-color;
    font-family: 'Quicksand', sans-serif;
    
    h1, .sudoh1 {
        font-size: $h1;
        color: $secondary-color;
        font-weight: 700;
    }

    .sudoh1thin {
        font-size: $h1;
        color: $secondary-color;
        font-weight: 400;
    }

    h2, .sudoh2 {
        font-size: $h2;
        color: $secondary-color;
        font-weight: 700;
    }

    h3, .sudoh3 {
        font-size: $h3;
    }

    h4, .sudoh4 {
        font-size: $h4;
    }

    h5, .sudoh5 {
        font-size: $h5;
        
    }
    h6, .sudoh6 {
        font-size: $h6;
        
    }

    .smalltext {
        font-size: 10px;
    }

    p, .sudop {
        font-size: $p;
        font-family: 'Golos Text', sans-serif;
    }

    body {
        background-color: $fifth-color;
    }

    img {
    }

}

.row {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
  }

.fade-in-from-left {
    opacity: 0;
    transform: translateX(-90px);
    transition: opacity 1s, transform 1s;
  }
  
  /* CSS code to show the div when it's scrolled into view */
.fade-in-from-left.show {
    opacity: 1;
    transform: translateX(0);
  }


.reveal{
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.7s all ease;
}

.revealdelay{
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.7s all ease;
}
  
.reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

  .revealdelay.active{
    transform: translateY(0);
    opacity: 1;
  }

a:hover {
    text-decoration: none;
}


.boxshadow {
    -webkit-box-shadow: -1px -16px 35px 16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px -16px 35px 16px rgba(0, 0, 0, 0.75);
    box-shadow: -1px -16px 35px 16px rgba(0, 0, 0, 0.75);
}

.textshadow {
    text-shadow: 2px 2px 8px #000000;
}

.btn-primary {
    padding: 5px 16px 5px 16px!important;
    border-radius: 30px;
    border: solid 1px $fourth-color;
    transition: 0.4s;
    background-color: $fourth-color;
    text-decoration: none; 
    color: $fifth-color;
    font-size: 20px;
    font-weight: 700;



    i {
        color: $fifth-color;
    }

    &:hover {
        background-color: transparent;
        border: solid 1px $fourth-color;
        color: $fourth-color!important;
        transition: 0.4s;
        text-decoration: none;

        i {
            color: $fourth-color!important;
            transition: 0.4s;
        }
    }
  
}

.btn-secondary {
    padding: 5px 16px 5px 16px!important;
    border-radius: 30px;
    border: solid 1px $fourth-color;
    transition: 0.4s;
    background-color: transparent;
    text-decoration: none; 
    color: $secondary-color;
    font-size: 20px;
    font-weight: 700;


    &:hover {
        background-color: $fourth-color;
        border: $fourth-color;
        color: $fifth-color!important;
        transition: 0.4s;
        text-decoration: none;

        i {
            color: $fifth-color!important;
            transition: 0.4s;
        }
    }
  
}

.textcolor {
    color: $fourth-color;
}

//
//    NAVBAR
////////////////////////

.navbar {
    background-color: $fifth-color;
    -webkit-box-shadow: -1px -16px 35px 16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px -16px 35px 16px rgba(0, 0, 0, 0.75);
    box-shadow: -1px -16px 35px 16px rgba(0, 0, 0, 0.75);


    .navlogo {
        width: 13rem;
    }
    .contactbtn {
        padding: 5px 16px 5px 16px!important;
        border-radius: 30px;
        border: solid 1px $fourth-color;
        transition: 0.4s;   

        &:hover {
            background-color: $fourth-color;
            color: $fifth-color!important;
            transition: 0.4s;
        }
        
        
    }

    a {
        transition: 0.4s;
        &:hover {
            transition: 0.4s;
        }
    }
}

.navbar-light, .navbar-nav, .nav-link {
    color: $secondary-color!important;

    &:hover {
        color: $fourth-color!important;
    }
}


//
//    HERO DIV
////////////////////////

.herodiv {
    video {
        max-height: 600px;
        min-height: 360px;
        object-fit: cover;
        object-position: center;
    }
    h1, h2, strong {
        color: white;
    }

    img {
        height: $h1;
        padding: 2px;
        background: white;
        border-radius: 50%;
    }

}

.heroimg {
    opacity: 0; /* Set the initial opacity of the image to 0 */
    transition: all 1s ease; /* Set a transition for the animation */
  }

.rotate {
    transform: rotate(360deg); /* Set the rotation angle for the animation */
  }



//
//    MAIN
////////////////////////

.topmain {
    height: auto;
    background-color: $sixth-color;

    svg {
        background-color: $fifth-color;
    }

    h4 {
        color: $fourth-color;

        strong {
            color: $fourth-color;
        }
        i {
            color: $fourth-color;
        }
    }
}

.smallinfodiv {
    
    a {
        font-size: 20px;
        font-weight: 700;
    }
}

//
//    PACKAGE DEALS
////////////////////////

.packagedivs {

    .packdiv1 {
        background-image: url(../images/wave.png);
        background-position: left;
        background-size: cover;
        transition: 1s;
        &:hover {
            background-position: right;
            transition: 1s;
        }
    }
    .packdiv2 {
        background-image: url(../images/wave2.png);
        background-position: left;
        background-size: cover;
        transition: 1s;
        &:hover {
            background-position: right;
            transition: 1s;
        }
    }
    .packdiv3 {
        background-image: url(../images/wave3.png);
        background-position: left;
        background-size: cover;
        transition: 1s;
        &:hover {
            background-position: right;
            transition: 1s;
        }
    }

    h4 {
        strong {
            color: $fourth-color;
            font-size: $h2;
        }
    }
    
    h3 {
        strong {
            color: $fourth-color;
        }
    }
    .packagediv {
        height: 390px;
        background-color: $sixth-color;
        border-radius: 50px;
        transition: 0.7s;
        -webkit-box-shadow: -1px 10px 26px -3px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 10px 26px -3px rgba(0,0,0,0.75);
        box-shadow: -1px 10px 26px -3px rgba(0,0,0,0.75);
        max-width: 380px;


        &:hover {
            transition: 0.7s;
            -webkit-box-shadow: -1px 10px 26px -3px rgba(0,0,0,0.75);
            -moz-box-shadow: -1px 10px 26px -3px rgba(0,0,0,0.75);
            box-shadow: -1px 10px 26px -3px rgba(0,0,0,0.75);
        }
    }

    ul {
        list-style: none;
    }

}


//
//    ABOUT US
////////////////////////

.aboutbody {
    background-color: $fourth-color;
}

.aboutus {
    background-color: $sixth-color;
    margin-bottom: -20px;
}


//
//    CONTACT US
////////////////////////

.contactbody {
    background-color: $fourth-color;
}
.contactus {
    background-color: $sixth-color;
    margin-bottom: -20px;

    select {
        padding: 7px;
        border-radius: 4px;
        border: none;
    }

    .form-group {
        width: 270px;
    }

    a {
        color: $secondary-color;
        font-size: $h6;
        font-weight: 700;

        &:hover {
            text-decoration: none;
            color: $fourth-color;
            i {
                color: $fourth-color;
            }
        }
        &:active {
            color: $fourth-color;
            text-decoration: none;
            i {
                color: $fourth-color;
            }
        }
    }
}

//
//    ALREADY GOT A WEBSITE
/////////////////////////////

.alreadydiv {
    background-color: $sixth-color;
    margin-bottom: -10px;
    
    svg {
        background-color: $fifth-color;
    }
}

//
//    PACKAGES DIV
/////////////////////////////


.packagemain {
    background-color: $sixth-color;
    img {
        border-radius: 50px;
    }
}

.packagediv {
    background-image: url(../images/wavelong.png);
    background-position: left;
    transition: 1s;
    background-repeat: no-repeat;
    -webkit-box-shadow: -1px 10px 26px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 10px 26px -3px rgba(0,0,0,0.75);
    box-shadow: -1px 10px 26px -3px rgba(0,0,0,0.75);
    
    &:hover {
        background-position: right;
        transition: 1s;
        -webkit-box-shadow: -1px 10px 26px -3px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 10px 26px -3px rgba(0,0,0,0.75);
        box-shadow: -1px 10px 26px -3px rgba(0,0,0,0.75);
    }
    border-radius: 50px;
    h2 {
        color: $fourth-color;
    }
    h3 {
        color: $fourth-color;
        strong {
            color: $fourth-color;
        }
    }
    h4 {
        color: $fourth-color;
        strong {
            color: $fourth-color;
        }
    }
    img {
        width: 23px;
    }

    .packagebullets {
        background-color: #e8f0f1ad;
        border-radius: 30px;
    }

}

.packagediv2 {
    background-image: url(../images/wavelong2.png);
}
.packagediv3 {
    background-image: url(../images/wavelong3.png);
}

//   FOOTER
////////////////////////

footer {
    background-color: $fourth-color;
    height: auto;
    color: white;

    p {
        color: white;
    }
    i {
        color: white;
        font-size: $h2;
    }
    h6 {
        color: white;
        font-weight: 500;
    }
    a {
        transition: 0.4s;
        &:hover {
            transition: 0.4s;
            p {
                color: $fifth-color;
                transition: 0.4s;
            }
            i {
                color: $fifth-color;
                font-size: $h2;
                transition: 0.4s;
            }
            h6 {
                color: $fifth-color;
                font-weight: 500;
                transition: 0.4s;
            }
        }
    }
}

//   BUTTON BLOB CSS
////////////////////////

button:focus {
    outline: none!important;

}
  
  .buttons {
    margin-top: 50px;
    text-align: center;
    border-radius:30px;
    text-decoration: none;
  }
  
  $dark: transparent;
  $borderW: 2px;
  
  .blob-btn {
    $numOfBlobs: 4;
    z-index: 1;
    position: relative;
    padding: 8px 40px;
    text-align: center;
    text-transform: uppercase;
    color: $fourth-color;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    outline: none;
    border: none;
    transition: color 0.5s;
    cursor: pointer;
    border-radius:30px;

    i {
        color: $fourth-color;
    }
    
    &:before {
      content: "";
      z-index: 1;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border: $borderW solid $fourth-color;
      border-radius:30px;
    }
    
    &:after {
      content: "";
      z-index: -2;
      position: absolute;
      left: $borderW*1.5;
      top: $borderW*1.5;
      width: 100%;
      height: 100%;
  
      transition: all 0.3s 0.2s;
      border-radius:30px;

      i {
        color: white;
      }
    }
    
    &:hover {
      color: white;
      border-radius:30px;

      i {
        color: white;
        transition: 0.3s;
      }
      
      &:after {
        transition: all 0.3s;
        left: 0;
        top: 0;
        border-radius:30px;
        
      }
    }
    
    &__inner {
      z-index: -1;
      overflow: hidden;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius:30px;
      background:transparent;
    }
    
    // additional container created, because in FF blobs are breaking overflow:hidden of element with svg gooey filter
    &__blobs {
      position: relative;
      display: block;
      height: 100%;
      filter: url('#goo');
    }
    
    &__blob {
      position: absolute;
      top: $borderW;
      width: 100% / $numOfBlobs;
      height: 100%;
      background: $fourth-color;
      border-radius: 100%;
      transform: translate3d(0,150%,0) scale(1.7);
      transition: transform 0.45s;
      
      @supports(filter: url('#goo')) {
        transform: translate3d(0,150%,0) scale(1.4);
      }
      
      @for $i from 1 through $numOfBlobs {
        &:nth-child(#{$i}) {
          left: ($i - 1) * (120% / $numOfBlobs);
          transition-delay: ($i - 1) * 0.08s;
        }
      }
      
      .blob-btn:hover & {
        transform: translateZ(0) scale(1.7);
        
        @supports(filter: url('#goo')) {
          transform: translateZ(0) scale(1.4);
        }
      }
    }
    
  }




//   ALL MEDIA
////////////////////////////////////////////////
//
// 

//   EX EX LARGE SCREENS
////////////////////////

@media (min-width: 1750px) {
    .herodiv {
        video {
            max-height: 850px;
        }
    }

  }





//   EX LARGE SCREENS
////////////////////////

  @media (min-width: 1200px) {


  }


// 
//   LARGE SCREENS
////////////////////////

@media (min-width: 992px) {

    .packagedivs {
        .packagediv {
            height: 500px;
            -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
        }
    }

    .packagediv {

        -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    }


}


// 
//   MEDIUM SCREENS
////////////////////////

@media (min-width: 768px) {
   
    .herodiv {

    
        img {
            height: $h1;
            padding: 0px;
            background-color: transparent;
        }
    
    }
 
}


// 
//   SMALL SCREENS
////////////////////////

@media (min-width: 576px) {

    .packagedivs {
        .packagediv {
            height: 450px;
        }
    }

    .form-group {
        width: 400px!important;
    }
    
}

